@charset "utf-8";
/* CSS Document */
<style type="text/css"> 
body  {
	font: 100% Arial;
	background-image:url(images/bg.png);
	background-repeat:repeat;
	margin: 0; 
	padding: 0;
	text-align: center; 
}
body#admin{
	background-image:url(images/bg.png);
	background-repeat:repeat
}
.twoColElsLtHdr #container { 
	width: 95%; 
	background: #FFFFFF;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left; 
} 
.twoColElsLtHdr #header { 
	background-image:url(images/header.GIF);
	background-repeat:repeat-x;
	color:#FFF;
	padding: 0 10px; 
} 
.twoColElsLtHdr #header h1 {
	margin: 0; 
	padding: 10px 0; 
}
.twoColElsLtHdr #sidebar1 {
	float: left; 
	width: 12em; 
	padding: 15px 0;
}
.twoColElsLtHdr #sidebar1 h3, .twoColElsLtHdr #sidebar1 p {
	margin-left: 10px; 
	margin-right: 10px;
}
.twoColElsLtHdr #mainContent {
	margin: 0 1.5em 0 13em; 
} 
.twoColElsLtHdr #footer { 
	padding: 0 10px;
	background-image:url(images/footer.png);
	background-repeat:repeat-x;
} 
.twoColElsLtHdr #footer p {
	margin: 0; 
	padding: 10px 0; 
}
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
#main_menu{background-image:url(images/mainmenu.GIF);
	background-repeat:repeat-x;
	padding-bottom:1px;
	color:#FFF;
	text-align:center;}
#isi_menu_kiri{
	background-color:#B9DCFF;
	padding:8px;
	border:1px solid #000000;
	-moz-border-radius-bottomleft:15px;
	margin-bottom:10px;
	padding-top:7px;
	padding-bottom:10px;
	color:#000000}
#isi_menu_kiri a{padding:4px;
	color:#000000;
	display:block;
	text-decoration:none;
	border:1px solid #999999;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	padding-bottom:6px;}
#isi_menu_kiri a:hover{
	border:1px solid #111111;
	padding:4px;
	background-color:#A8FFBE;
	color:#000;
	display:block;
	padding-bottom:5px;
	font-weight:bold;}
th{text-align:center;
	background-color:#95DDFF}
#judul{background-color:#BDF}
#option{vertical-align:top}
#author{font-size:11px;
	color:#036}
#title{background-image:url(images/title.png);
	color:#FFF;
	font-weight:bolder;
	font-size:16px};
#hhh{font-weight:bold;}
table#login{
	top:100px;
	background-image:url(images/bg.png);
	background-repeat:repeat;
	color:#FF0;
	border-width:thick;
	text-align:center;
	font-weight:bold;
}
#user{
	background:none;
	color:#CCC;
	font-weight:bold;
</style>