<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.seamolec.metra"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".PenjualanMobilActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity
            android:name=".Menu"
            android:label="@string/app_name" />
        <activity android:name=".Pilihan"></activity>
		<activity android:name=".Tampilan"></activity>
		<activity android:name=".Tampilan2"></activity>
		<activity android:name=".Tampilan3"></activity>
		<activity android:name=".Tampilan4"></activity>
		<activity android:name=".Tampilan5"></activity>
		<activity android:name=".Tentang"></activity>
		<activity android:name=".Mobil1"></activity>
		<activity android:name=".A1"></activity>
		<activity android:name=".A2"></activity>
		<activity android:name=".A3"></activity>
		<activity android:name=".B1"></activity>
		<activity android:name=".B2"></activity>
		<activity android:name=".B3"></activity>
		<activity android:name=".G1"></activity>
		<activity android:name=".H1"></activity>
		<activity android:name=".I1"></activity>
    </application>

</manifest>